// ==================================
// Global Config variables/mixins/extends
// ==================================
//$background-color--container:#3F3F3F;

/* Fonts
=====================================*/
$width-wrapper: 92%;

/* Fonts
=====================================*/



/* Backgrounds
=====================================*/

//main box shadow for wrapper/footer
@mixin boxshadow-main {
	-moz-box-shadow: 12px 0 15px -4px grey, -12px 0 15px -4px grey;
	-webkit-box-shadow: 12px 0 15px -4px grey, -12px 0 15px -4px grey;
	box-shadow: 12px 0 15px -4px grey, -12px 0 15px -4px grey;
}


/* border-colors:
=====================================*/




/* pseudo class colors:
=====================================*/

